#search{width:715px;margin:0 auto;}
#search input[type="text"]{width:600px;padding:7.5px;height:22px;font-size:20px;display:block;border:1px solid #e5e5e5;border-radius: 0.5em 0 0 0.5em;}
#search select {
    
    border:1px solid #e5e5e5;
    border-radius: 0.5em 0 0 0.5em;
    
    color: #aaa;
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0;
    outline: medium none;
    padding: 5.5px;
    position: relative;
    transition: all 0.35s ease-in-out 0s;
    width: 300px;
}
#search .right{line-height:29px;padding-left:10px;border-left:1px solid #CCC;margin-left:10px}
#search input[type="submit"]{border:none;}
select.second {
    margin-left: 15px !important;
}   
.clear{clear:both;}    
.left{float:left;}
.right{float:right;}
.logo{background:url(../images/logo.png)}
#menu .right{background:#FFF!important;}
#menu .right a{color:#1abc9c!important;}
<!-- Register
#login-account .form-wrap, #create-account .form-wrap {
    border-top: 1px solid #e6e6e6;
    margin-top: 10px;
    padding-top: 20px;
}
#login-account {
    float: left;
    width: 534px;
}
#create-account {
    border-left: 1px solid #e6e6e6;
    float: right;
    margin-bottom: 30px;
    width: 465px;
}
.title{background:#CEA1FA;color:#FFF;margin:20px 0 0 0!important;padding:10px;}
.goto{background:#e5e5e5;padding:10px;}
#quick{list-style: none outside none;
    margin: 0 27px;
    padding-top: 10px;}
#quick li{display:inline-block;padding:5px 20px;}
#quick a{text-decoration: none;}
#quick .active{color:#000;}
#quick strong{color:#16A085;font-size:23px;}
.maincontent{background:#f5f5f5;padding:10px;}
.general{padding:15px 0;border-bottom:5px solid #FFF;margin:15px 0;}
.reviews{margin-bottom:15px;padding-bottom:15px;border-bottom:5px solid #FFF;}
.leftcontent{width:50%;border-right:1px solid #e5e5e5;}
.rightcontent{width: calc(50% - 10px);padding-left:9px;}
.rating{padding:10px 0;}

.review{color: #FFA754;font-size:26px;font-weight:bold;}
.description{width:70%;}
.type{width:30%;}
.iconstrain{width:200px;border-radius:10px;background: #83B218;padding:10px;margin:0 auto;text-align: center;color:#FFF;}
.iconstrain h2{margin-bottom:15px;color:#FFF!important;}
.stron{display:block;margin-bottom:15px;}

.fl{background: none repeat scroll 0 0 #814c0c;
    border-radius: 48px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
    padding: 25px;
    text-decoration: none;}
.flwrap{margin-top:20px;}  
.attributes strong{display:block;padding:10px;color:#FFF!important;text-align:center;}
.attributes strong.active{background:#83B218!important;}  
.attributes h2{padding-bottom:15px;}
.attributes .rightcontent strong{display:inline-block!important;min-width: 100px;background:#B1F9B0;}
.attributes .rightcontent strong:hover{background:#83B218;}
.attributes .leftcontent strong{margin-right:15px;}
.attributes .rightcontent strong a{color:#FFF;text-decoration: none;text-align:center;}
.label{width:25%;}
.eff{margin-bottom:10px;}
.length{padding-left: 10%;padding-top:25px;background:#8AC007;border-radius:0 10px 10px 0;}
#reviews a{display:inline-block;text-decoration:none;color:#FFF;background:#1ABC9C;padding:5px 10px;border: 1px solid #D0D2D2;margin:5px;}
#reviews .sel{background:#16A085!important;}
.form{margin:15px 0;}
.gap{margin-bottom:10px;}
#preci{margin-top:10px;}
.marleft{margin-left:10px;}
.martop{margin-top:10px;}